{% extends 'display/base.html' %}
{% load bootstrap3 %}
{% block content %}
{{block.super}}

{% extends 'instaplate/base.html' %} {% load bootstrap3 %} {% block content %} {{block.super}}
<div class="homebody">
    <div class="container">
        <h1>NOTIFICATIONS</h1>
        en a qui sortent en équipe
        Avenue Montaigne, François premier
        J'suis avec ma go en fouraillé au cas ou faudrait simplifier
        Quand tu pilotes un prototype faut assumer (faut assumer)
        Elle est tellement douce obligé de faire dans la durée
        Avec elle c'est le marathon
        Avec elle pas de baratin
        Bang bang bang
        Si tu traînes dans un bar à tains-p'
        Ma-mafiosa, ma-mafiosa
        Assim você me mata
        Et voilà que j'parle en portugais
        Mon amour commence à se mesurer
        Elle me rend fou j'suis torturé
        J'pense que la suite sera censurée

        <h1>La dot baby veun geus</h1>
        J'ai commencé ma vie sans toi, j'vais pas terminer sans toi (aïe, aïe, aïe)
        On s'quitte pour se retrouver et ça recommence à chaque fois (aïe, aïe, aïe, aïe)
        Y a pas de seconde chance avec toi, moi, j'ai trop parlé (trop parlé)
        Des p'tits caprices, tout l'temps que j'ai pris sur moi (yay)
        Elle s'rappelle de chaque seconde, des premiers rendez-vous qu'on s'faisait en soum
        Elle dit que j'fais l'effet d'une bombe, elle est prête à me suivre, même dans ma tombe
        Me parle pas d'amour, dans ma vie, j'ai trop donné (aïe, aïe, aïe, aïe)
        J'ai le cœur trop dur pour ça, faut me pardonner (aïe, aïe, aïe, aïe)
    </div>
</div>
{% endblock %}

{% endblock %}
