{% extends 'display/base.html' %} 
{% load bootstrap3 %} 
{% block content %} 
{{block.super}}

{% extends 'instaplate/base.html' %} {% load bootstrap3 %} {% block content %} {{block.super}}
<div class="homebody">
    <div class="container">
        <h1>NOTIFICATIONS</h1>
        en a qui sortent en équipe
        Avenue Montaigne, François premier
        J'suis avec ma go en fouraillé au cas ou faudrait simplifier
        Quand tu pilotes un prototype faut assumer (faut assumer)
        Elle est tellement douce obligé de faire dans la durée
        Avec elle c'est le marathon
        Avec elle pas de baratin
        Bang bang bang
        Si tu traînes dans un bar à tains-p'
        Ma-mafiosa, ma-mafiosa
        Assim você me mata
        Et voilà que j'parle en portugais
        Mon amour commence à se mesurer
        Elle me rend fou j'suis torturé
        J'pense que la suite sera censurée

        <h1>La dot baby veun geus</h1>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi tenetur, error quod consectetur nobis nam earum autem architecto
        delectus debitis blanditiis aliquid at a repellendus laudantium officia dolore maiores velit. Lorem, ipsum dolor
        sit amet consectetur adipisicing elit. Sit minus quia impedit officiis id dignissimos labore ad fuga deleniti! Natus,
        commodi nesciunt! Nisi dolorum, error illo debitis earum ea optio? Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Voluptatum veritatis iste fuga tempore, architecto expedita a! Voluptatem tempore delectus ea adipisci quaerat,
        odio at neque eveniet quod rerum eligendi sapiente. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad,
        tempore atque! Doloremque fugiat ducimus esse, est eaque illum minus pariatur? Ipsam magnam, delectus architecto
        nihil totam quidem possimus nobis reiciendis.
    </div>
</div>
{% endblock %}

{% endblock %}